/* CSS styles for the website */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat:wght@400;700&family=Open+Sans&family=Playfair+Display:wght@400;700&display=swap');


/* CSS styles for the navbar */

main {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .header-main {
    float: left;
    width: 45%;
    margin-right: 5%;
    /* 100% 45% 90% 5%*/
  }
}
@media screen and (min-width: 992px) {
  .header-main {
    width: 30%;
    margin-right: 3.333%;
    /* 100% 30% 3.333%*/
  }
}

footer {
  background-color: var(--clr-primary);
  color: var(--clr-primary);
  padding: 10px;
  text-align: center;
}

.contact {
  background: var(--clr-grey-10);
}
.contact-form,
.contact-info {
  margin: 1rem 0;
}
.contact-item {
  margin-bottom: 4rem;
}
.contact-title {
  color: var(--clr-primary-light);
  font-weight: 400;
}
.contact-text {
  text-transform: uppercase;
}
.contact-form {
  background: var(--clr-white);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  max-width: 35rem;
}
.contact-form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.contact-form h3 {
  padding-top: 1.25rem;
  color: var(--clr-grey-5);
}
.form-group {
  padding: 1rem 1.5rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.form-control::placeholder {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
@media screen and (min-width: 992px) {
  .contact-form,
  .contact-info {
    float: left;
    width: 50%;
  }
}
